{% extends "base.html" %}
{% block content %}

<h2>Assigned Complaints</h2>

<table class="table table-bordered bg-white shadow-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>ERT</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for c in complaints %}
        <tr>
            <td>{{ c.complaintId }}</td>
            <td>{{ c.title }}</td>
            <td> 
                <span class="
                    {% if c.priority == 'HIGH' %}badge bg-danger
                    {% elif c.priority == 'MEDIUM' %}badge bg-warning text-dark
                    {% else %}badge bg-success
                    {% endif %}
                ">
                    {{ c.priority }}
                </span>
            </td>
            <td>{{ c.status }}</td>
            <td>
                <div class="mt-2">
                    <small>{{ c.estimated_resolution_time }}</small>
                </div>
            </td>
            <td>
                <a href="{% url 'view_complaint' c.complaintId %}" class="btn btn-secondary btn-sm">
                    View
                </a>
                <a href="{% url 'officer_update_complaint' c.pk %}" class="btn btn-sm btn-primary">
                    Update
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
