{% extends "base.html" %}
{% block content %}

<h2>My Complaints</h2>

<a href="{% url 'create_complaint' %}" class="btn btn-success mb-3">
    + New Complaint
</a> 

<table class="table table-bordered bg-white shadow-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>ERT</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for c in complaints %}
        <tr>
            <td>{{ c.complaintId }}</td>
            <td>{{ c.title }}</td>
            <td> 
                <span class="
                    {% if c.priority == 'HIGH' %}badge bg-danger
                    {% elif c.priority == 'MEDIUM' %}badge bg-warning text-dark
                    {% else %}badge bg-success
                    {% endif %}
                ">
                    {{ c.priority }}
                </span>
        </td>
            <td>
                <span class="badge bg-info">{{ c.status }}</span>
            </td>
            <td>
                <div class="mt-2">
                    <small>{{ c.estimated_resolution_time }}</small>
                </div>
            </td>
            <td>
                <a href="{% url 'view_complaint' c.complaintId %}" class="btn btn-secondary btn-sm">
                View
            </a>
                &nbsp;&nbsp;
                {% if c.status == "PENDING" %}
                    <a href="{% url 'edit_complaint' c.complaintId %}" class="btn btn-sm btn-warning">
                        Edit
                    </a>
                {% else %}
                    &nbsp;&nbsp;&nbsp;-
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No complaints yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'profile_update' %}" class="btn btn-secondary">
    Update Profile
</a>

{% endblock %}
